body {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.wrap-all {
  border: 3px solid;
  height: auto;
  padding: 1rem 0;
}

.navi-menu {
  width: 95%;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgray;
  border: 3px solid;
  margin: auto;
}

.nav-list {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-list li {
  list-style: none;
  color: blue;
  cursor: pointer;
}

.giver {
  border-right: 2px solid black;
  height: 1.5rem;
}

.contact ul li {
  text-align: left;
}

.nav-list li:hover {
  color: aqua;
}

.calendar {
  display: flex;
  justify-content: flex-end;
  width: 98%;
}

h2 {
  width: 60%;
  padding-left: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.wrap {
  text-align: center;
  width: 100%;
}

.hr {
  width: 20%;
  margin-top: 2rem;
  border: none;
  height: 2px;
  color: #333;
  background-color: #333;
}

.add {
  font-size: 1.5rem;
  font-weight: bold;
}

.booksAdded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
}

.booksAdded:nth-of-type(odd) {
  background-color: #d3d3d3;
  height: 3rem;
}

.booksAdded:nth-of-type(even) {
  background-color: #fff;
  height: 3rem;
}

.button-form {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin: 0 auto;
}

.books {
  width: 60%;
  text-align: center;
  border: 3px solid;
  margin: 0 auto;
}

button {
  align-content: flex-end;
  border: 3px solid;
}

.removeBtn {
  background-color: #fff;
}

.form {
  width: 60%;
  margin: 0 auto;
}

.form input {
  width: 50%;
}

.contact {
  width: 50%;
  margin: auto;
}

.contact p {
  text-align: left;
}

.rights {
  width: 90%;
  border: 2px solid;
  margin: 3rem auto 0;
  text-align: left;
  padding-left: 1rem;
}
